body
{
    padding:0;
    margin:0;
    color:white;
    background: url(abs-1850926_1920.jpg);

}
.left
{
    position:absolute;
    /* border:1px solid yellow; */
    padding:3px 4px;
    width:100px;
    margin-left:20px;
    text-align:center;
    line: height 10px;;

}
.mid
{
    position:absolute;
    width:50%;
    margin-left:25%;
    margin-top:18px;
    /* border:1px solid green; */
    padding:3px 4px;
}
.right
{
    position:absolute;
     right:0;
     width:200px;
     margin-left:100px;
    /* border:1px solid yellow; */
    padding:3px 4px;
    margin-right:20px;
    margin-top:40px;
}
.left img{
    width:90px;
    filter: invert(100%);
    color:white;
}
.mid li{
    display:inline-block;
}
.mid li a{
    display:block;
    text-decoration: none;
    color:white;
    font-size:20px;
    padding: 13px 30px;
}
.mid li a:hover:not(.active){
    color:red;
}
 .btn
{
    border:1px solid white;
    border-radius: 18px;
    padding:3px 4px;
    font-size:15px;
    margin-left:20px;
}
.btn:hover{
    background:lightgrey;

}
.container
{
    position:relative;
    top: 230px;
    left:40px;
    border:1px solid white;
    border-radius: 10px;
    width:400px;
    padding:25px;
    margin-top:10px;
    text-align:center;
    /* height:300px; */
}
.container h2{
    font-size:30px;
}
.input-form input
{
   
    border:2px solid white;
    text-align:center;
    width: 85%;
    margin-bottom:5px;
    
}